      <!-- footer -starts -->
      <div class="footer footer-aline">
        <div class="container-fluid">
          <br /><br />

          <div class="collab">
            <div class="row">
              <div class="col-lg-12">
                <a class="collab-p" href="/contact"
                  ><p class="wow fadeInUp" href="/contact">
                    Got an interesting project? I can help you.
                  </p></a
                >
              </div>
            </div>
          </div>

          <br />

          <div class="hr">
            <div class="row"></div>
          </div>

          <br /><br />

          <div class="info">
            <div class="row">
              <div class="col-lg-4" id="personal">
                <p class="wow fadeInUp">connect with me</p>
                <h4 class="wow fadeInUp" data-wow-delay="0.2s">
                  <a href="https://twitter.com/mahendra_Dew" target="_blank" class="connect-twt-handle">
                    twt <span id="tw"></span> @mahendra_Dew
                  </a>
                </h4>
                <br /><br />
              </div>

              <div class="col-lg-4" id="media">
                <p class="wow fadeInUp" data-wow-delay="0s">follow me</p>
                <ul>
                  <li id="tw" class="wow fadeInUp" data-wow-delay="0.4s"><a href="https://twitter.com/mahendra_Dew" target="_blank">tw</a></li>
                  <li id="li" class="wow fadeInUp" data-wow-delay="0.6s"><a href="https://www.linkedin.com/in/mahendradew/" target="_blank">li</a></li>
                  <li id="gh" class="wow fadeInUp" data-wow-delay="0.8s"><a href="https://github.com/mahendradew/" target="_blank">gh</a></li>
                  <li id="hn" class="wow fadeInUp" data-wow-delay="0.9s"><a href="https://hashnode.com/@mahendraDew" target="_blank">hn</a></li>
                  <li id="ig" class="wow fadeInUp" data-wow-delay="1s"><a href="https://www.instagram.com/mahendra_dew02/" target="_blank">ig</a></li>
                </ul>

                <br /><br />
              </div>

              <div class="col-lg-4" id="address">
                <p class="wow fadeInUp" data-wow-delay="0s">say hello</p>
                <h4 class="wow fadeInUp" data-wow-delay="0.2s">
                  <a href="mailto: mahendradewangan195@gmail.com?subject= &body= "> Email me! </a>
                  <!-- mahendradewangan195@gmail.com -->
                </h4>
                <br /><br />
              </div>
            </div>
            <p class="copyright">copyright © 2023 mahendra dewangan</p>
          </div>
        </div>
      </div>
      <!-- footer -ends -->
      <br /><br />
    </div>

    <!-- greensock cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- loading animation js -->
    <script src="js/loading-animation.js"></script>
    <script src="js/profile-photo-border.js"></script>

    <script src="js/script.js" type="text/javascript">
     
    </script>
  </body>
</html>
