<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />

    <title>@mahendra</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- bootstrap cdns -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- terminal effect -->
    <script src="js/t.min.js"></script>

    <!-- for on scroll animations -->
    <link rel="stylesheet" href="css/animate.css" />
    <script src="js/wow.min.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <!-- navbar -starts -->
      <nav>
        <span id="brand">
          <a href="/" >mahendra.</a>
          <!-- <a href="index.html" class="wow fadeInUp" data-wow-delay="1.5s">mahendra</a> -->
        </span>

        <ul class="menu">
          <li>
            <a href="/" class="link-hover-effect wow fadeInUp" data-wow-delay="1.6s">home<span>.</span></a>
          </li>
          <li>
            <a href="work"class="link-hover-effect wow fadeInUp" data-wow-delay="1.7s">work<span>.</span></a>
          </li>
          <li>
            <a href="about" class="link-hover-effect wow fadeInUp" data-wow-delay="1.8s">about me<span>.</span></a>
          </li>
          <li>
            <a href="contact" class="link-hover-effect wow fadeInUp" data-wow-delay="1.9s">contact<span>.</span></a>
          </li>
        </ul>

        <div id="toggle">
          <div class="span">menu</div>
        </div>
      </nav>

      <div id="resize">
        <div class="close-btn">close</div>
        <ul class="menu">
          <li>
            <a href="/" class="link-hover-effect">home<span>.</span></a>
          </li>
          <li>
            <a href="work" class="link-hover-effect">work<span>.</span></a>
          </li>
          <li>
            <a href="about" class="link-hover-effect">about me<span>.</span></a>
          </li>
          <li>
            <a href="contact" class="link-hover-effect">contact<span>.</span></a>
          </li>
        </ul>
      </div>
      <!-- navbar -ends -->
