/* --------------------------- basic styling ---------------------------- */
@font-face {
    font-family: "brownSugar";
    src: url("../font/Brown\ Sugar\ .woff2") format("woff"),
        url("../font/Brown\ Sugar\ .otf") format("opentype"),
        url("../font/Brown\ Sugar\ .ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', 'sans-serif' !important;
    color: #fff !important;
    background-color: #0f0f0f !important;
    scroll-behavior: smooth;
}
/* ___________________ custom scroll bar -start ____________________ */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* ___________________ custom scroll bar -end ____________________ */
.whitespace {
    width: 100%;
    height: 100px;

}

.hover-effect:hover {
    color: #fff !important;

}

.link-hover-effect::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
}

.link-hover-effect:hover::after {
    width: 100%;
    transition: width .3s;
}

@media(max-width: 768px) {
    .whitespace {
        display: none;
    }
}

/*--------------- typewriter effect --------------- */
.header {
    width: 100%;
    height: auto;
    margin-left: 82px;

    /* background-color: beige; */
}

.line {
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid transparent;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 3s steps(40) 3s 1 normal both,
        blinkTextCussor 500ms steps(40) 2.3s infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

@media(max-width: 900px) {
    .header{
        margin-left: 10px;
    }
}
@media(max-width: 768px) {
    .header {
        width: 100%;
        height: 500px;
    }

    .line {
        width: 100%;

    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 15em;
        }
    }
}

@keyframes blinkTextCussor {
    from {
        border-right-color: transparent;
    }

    to {

        border-right-color: rgba(255, 255, 255, 0.75);
    }
}

/* --------------------------- navigation ---------------------------- */
nav {
    width: 100%;
    background: #0f0f0f;
    height: 70px;
    position: fixed;
    z-index: 3;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
}

nav #brand a:hover {
    text-decoration: none;
}

nav .menu {
    float: left;
    right: 82px;
    position: fixed;
}

nav .menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu li {
    padding-left: 30px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    /* line-height: 80px; */
    position: relative;
    transition: all 0.3s ease-out;
}

nav .menu li span {
    font-weight: 700;
}

nav .menu li a {
    color: #fff;
}

nav .menu li a:hover {
    text-decoration: none;
    color: #fff;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 5;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 4;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 4;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize .menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize .menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize .menu li a {
    color: #fff;
}

#resize .menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }

    nav #brand {
        margin-left: 24px;
    }

    .menu a {
        font-size: 20px;
        font-weight: 300;
    }

    #resize li span {
        font-weight: bolder;
    }

    nav .menu {
        display: none;
    }
}

@media(min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}

/* --------------------------- social-vertical section ---------------------------- */
.header-social {
    display: block;
}

.social-vertical {
    position: absolute;
    left: 1.5rem;
    top: 25rem;
    display: flex;
    flex-direction: column;
}

.social-vertical li {
    list-style: none;
}

.social-vertical a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    color: gray;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 4px 0;
}

.social-vertical a:hover {
    color: #fff;
    text-decoration: none;
}

.social-vertical-line {
    /* content: ''; */
    display: inline-block;
    cursor: none;
    width: 1px;
    height: 100px;
    /* margin-top: 20px; */
    /* background: #fff; */
    position: absolute;
    left: 1rem;
    top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);

}

@media(max-width:1120px) {
    .social-vertical{
        left: 0;
    }
}

@media(max-width:900px) {
    .header-socials {
        display: none;
    }
}



/* --------------------------- hero section ---------------------------- */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 82px; */
    overflow: hidden;
    /* background-color: #1da1f2; */
}


.hero h1 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: -2px;
    line-height: 58px;
    text-shadow: 5px 5px 10px #000;
}

/* 00000000000000000000000000000000 */


/* ****************  old css for profile photo --starts ********************* */
/* 
.profile-img-container {
    width: 100%;
    height: 700px;
    padding-left: 100px;

}

.profile-img {
    width: 62%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

}

.img-box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgba(255, 225, 225, 0.5);
    background-size: cover;

}

.img-wrapper img {
    width: 100%;
    height: auto;

}

.border-box {
    position: relative;
    z-index: 0;
    border: 2px solid gray;
    width: 100%;
    left: 30px;
    top: 30px;
}

.img-box:hover+.border-box {
    border: 2px solid #fff;
}

.img-box:hover+ {
    width: 800px;

} */
/* ****************  old css for profile photo --ends ********************* */


/* ****************  new css for profile photo --starts ********************* */

.profile-img-container{
    width: 100%;
    /* height: 700px; */
    flex: 45%;
    padding-left: 100px;
    padding-right: 30px;
}
.profile-img-container img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(255, 225, 225, 0.5);
    box-shadow: 18px 18px #0f0f0f, 20px 20px gray;
}

.profile-photo:hover{
    box-shadow: 18px 18px #0f0f0f, 20px 20px white;
}



/* ****************  new css for profile photo --ends ********************* */









/* ------------  logo-font  --------------- */
.font-logo-div {
    /* width: auto;
    height: 100%; */
    /* background-color: blue; */
    /* height: 100vh; */
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-logo-div span {
    display: inline-block;
    margin: 40px;
}

.logo-span {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, -1);
}

.font-logo-div h1 {
    /* font-size: 500px; */
    font-size: 30vw;
}

.MD-logo-text {
    padding-right: 5px;
    font-family: brownSugar !important;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

@media (max-width:768px) {
    .font-logo-div {
        height: 50vh;
    }
    .font-logo-div h1{
        font-size: 60vw;
    }

}


/* 00000000000000000000000000000000 */

@media(max-width:1000px) {
    .header h1 {
        font-size: 26px;
    }
}
@media(max-width:768px) {
    .hero {
        /* width: 500px; */
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .header {
        margin-left: 0;
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-img-container {
        /* height: 100vh; */
        /* width: 100%; */
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items:center;

    }

    .hero-aline {
        margin-left: 0;
        padding: 0 15px !important;
    }

}

/* -----------------------------  loading animation  -------------------------------- */

.loading-screen {
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    background: #0a0a0a;
    z-index: 2;
}

.ring img {

    width: 100%;
    filter: grayscale();

}

.ring {
    margin: 0%;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 40%;
    opacity: 0.7;
}

.ringOne img {
    animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
    animation: rotateFirstRing 8s linear infinite;
}

@keyframes rotateFirstRing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



@media(max-width: 900px) {

    .loading-screen {
        display: none;
    }

    .ring {
        display: none;
    }



}



/* --------------------------- scroll down icon animation ---------------------------- */
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;

}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;

    }
}


/* -------- hero hr section--------------- */
.hero-hr {
    margin-top: 20px;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
    width: 25%;
}

@media(max-width:1200px) {
    .hero-hr {
        display: none;
    }
}



/* -------- about me section--------------- */

.tech-stack {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: left; */
}

.tech-stack li {
    font-size: 13px;
    color: rgb(105, 105, 105);
    margin-right: 20px;
    list-style-type: none;
    ;
}

.about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 82px; */
    overflow: hidden;
    /* background-color: #1da1f2; */
}

.about-me a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    display: inline-block;

}

.about-me a:hover {
    text-decoration: none !important;
    color: #fff;
}

.intro {
    width: 100%;
    height: auto;
    margin-left: 82px;
    flex: 55%;
}

.call-to-action a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    display: inline-block;

}

.call-to-action a:hover {
    text-decoration: none !important;
}

.about-me p {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 200;
    /* background-color: #0e0e0eda; */
    /* background-color: #3636366b; */
    /* box-shadow: 5px 5px 10px #000; */
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-radius: 0; */
    /* padding: 30px 20px; */

}


.call-to-action-btn {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 200;
    background-color: #0e0e0eda;
    box-shadow: 5px 5px 10px #000;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: 2px;

}


.call-to-action a:hover {

    background: #dfdfdf;
    color: #101010;
}

@media(max-width: 1260px) {
    .intro{
        flex: 50%;
        margin-left: 15px;
    }
    .profile-img-container{
        padding-left: 30px;
        flex: 50%;
    }
}
@media(max-width: 768px) {
    .about-me {
        /* flex-direction: column; */
        height: 130vh;
        flex-direction: column-reverse;
    }
    .about-me p{
        padding: 0 5px;
    }
    .intro {
        width: 100%;
        height: 100px;
        margin-left: 0;
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .profile-img-container {
        margin-top: 130px;

    }

}



/* --------------------------- projects section ---------------------------- */
h6 {
    text-align: center;

}

.vertical {
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 88px;
    position: absolute;
    left: 50%;

}



/* **************************** */
.project-section {
    width: 100%;
    /* background-color: #2962ff; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.featured-projects {
    padding: 0;
}

.project-container {
    width: 90%;
    /* max-width: 000px; */
    max-height: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: -4; */

}

.project-image {
    width: 50%;
    /* height: 600px; */
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;

    /* margin-left: -150px; */
}

.project-image img {
    width: 100%;
    filter: grayscale();
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 10px #000;
    z-index: 0;
    cursor: pointer;
}

.project-image img:hover {
    width: 100%;
    filter: none;
    /* transition: none all ease-in; */
}

.project-content {
    width: 50%;
    min-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    margin-right: -150px;

    z-index: 1;
    /* text-align: right; */
}

.project-content .project-title a {
    color: rgb(105, 105, 105);
    text-decoration: none;
    cursor: pointer;
}

.project-content h3 {
    font-size: 40px;
}

.project-content h3:hover {
    color: #fff !important;
}

.project-content .project-title a:hover {
    color: #fff;
}

.project-content .project-description {
    background-color: #000000af;

}

.project-content .project-description a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    display: inline-block;

}

.project-content p {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 200;
    background-color: #0e0e0eda;
    /* background-color: #3636366b; */
    box-shadow: 5px 5px 10px #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 0;
    padding: 30px 20px;

}

.project-tech-list {
    padding: 0;
    display: flex;
    align-items: center;
    /* justify-content: left; */
}

.project-tech-list li {
    font-size: 13px;
    color: rgb(105, 105, 105);
    margin-right: 20px;
    list-style-type: none;
    ;
}

.project-content .project-links {
    margin: 10px 0;
}

.project-external-link {
    color: rgb(105, 105, 105) !important;
}

.project-github-link {
    color: rgb(105, 105, 105) !important;
}

.project-external-link:hover {
    color: #fff !important;
}

.project-github-link:hover {
    color: #fff !important;
}

.even-num-featured-project {
    flex-direction: row-reverse;
}

.even-num-featured-project .project-content {
    text-align: right;
    margin-left: -150px;
}

.even-num-featured-project .project-tech-list {
    justify-content: right;

}

.even-num-featured-project .project-tech-list li {
    margin: 0 0 0 20px;

}

/* **************************** */
@media(max-width: 1200px) {
    .project-content {
        /* margin-right: -350px; */
    }
}

@media(max-width: 768px) {
    .project-section {
        padding-top: 200px;
    }

    .project-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .project-image {
        width: 100%;
    }

    .project-content {
        width: 90%;
        margin: -100px 0 0 0;
        padding: 20px;
        background-color: #0e0e0eda;
        box-shadow: 5px 5px 10px #000;
        border: 1px solid rgba(255, 255, 255, 0.1);

    }

    .project-content p {
        padding: 0;
        background-color: none;
        border: none;
        box-shadow: none;
    }

    .even-num-featured-project {
        flex-direction: column-reverse;
    }

    .even-num-featured-project .project-content {
        text-align: left;
        margin: -100px 0 0 0;
    }

    .even-num-featured-project .project-tech-list {
        justify-content: left;

    }

    .even-num-featured-project .project-tech-list li {
        margin: 0 20px 0 0;

    }
}

/* --------------------------- contact section ---------------------------- */
.contact-me{
    width: 100%;
    /* height: 100vh; */
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    /* padding-left: 82px; */
    overflow: hidden;
    /* background-color: #1da1f2; */

}
.contact-para{
    /* margin-left: 82px; */
    font-size: 15px;
    margin: 20px 0;
    font-weight: 200;
    text-align: center;
}
@media(max-width:768px) { 
    .contact-para{
        margin-top: 100px;

    }
    
}
/* --------------------------- footer section ---------------------------- */
.collab {
    text-align: right;

}

.collab p {
    font-weight: 300 !important;
    margin-bottom: 20px;
    color: #696969;
    text-decoration: none;
}

.collab-p:hover {
    text-decoration: none;
}

.collab p:hover {

    font-weight: lighter;
    color: #fff !important;
    cursor: pointer;
}

.hr {

    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.connect-twt-handle:hover {
    color: #fff;
    text-decoration: none;
}

.info h4 {
    color: #696969;
    font-size: 18px;
    font-weight: 300;
}

.info h4:hover {
    color: #fff;
    cursor: pointer;
}

.info p {
    /* color: rgb(253, 0, 0); */
    color: grey;
    font-weight: lighter;
}

.info a {
    text-decoration: none;
    color: gray;
}

.info li {
    font-weight: 300;
    color: gray;
    font-size: 18px;
    padding-left: 20px;
}

.info li a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#li::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #0a66c2;
}

#ig::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #fcaf45;
}

#tw::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background-color: #1da1f2;
}

#hn::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background-color: #2962ff;
}

#gh::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background-color: #dfdfdf;
}

#address {
    text-align: right;
}
#address a{
    text-rendering: none;
}
#address a:hover{
    color: #fff;
    text-decoration: none;
}


#media {
    text-align: center;
    list-style: node;
}

#media ul {
    margin-left: -60px;
}

#media ul li {
    display: inline-block;


}

.footer-aline {
    margin: 0 82px;
    padding-left: 0px !important;
}

.copyright {
    text-align: center;
}

@media(max-width:768px) {
    .footer-aline {
        margin: 0 20px;
    }

    .collab,
    #personal,
    #media,
    #address {
        text-align: center;
    }

    .info ul {
        margin: 0 0 0 -22px;
        padding: 0;
    }

    #media ul {
        margin-left: 0;
    }
}

/* --------------------------- work ---------------------------- */
.hero-content {
    margin-left: 0%;

}

.hero-content p {
    font-weight: 300;
    line-height: 36px;
    color: gray;
}

.hero-content h6 {
    text-align: left;
}

.hero-aline {
    margin-right: 80px;
    margin-left: 82px;
    padding-left: 0px !important;
}

@media (max-width:768px) {
    .hero-content {
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}


/* --------------------------- about page ---------------------------- */
/* ----- about-page - hero section ----- */
.about-page-hero-aline{
    margin-right: 80px;
    margin-left: 82px;
    padding-left: 0px !important;
}
.about-page-subheadings {
    margin-top: 40px;
}

.about-page {
    /* margin-top: 70px; */
    /* background-color: blue; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    /* overflow: hidden; */
    /* background-color: #1da1f2; */
    
}

.about-page-intro {
    width: 100%;
    /* height: auto; */
    /* margin-left: 82px; */
    flex: 60%;

}
.about-page-intro > p {
    text-align: justify;
}

.about-page>.profile-img-container {
    width: 100%;
    flex: 40%;
    margin-top: -200px;
}

.abt-image {
    /* background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%; */
    /* background: url(/images/abt-bg.png); */
    max-width: 90% !important;
}

.about img {
    width: 100%;
    height: 100%;
}

/* ----- about-page - skill section ----- */
.about-page-skills {
    margin-top: 100px;
    word-wrap: wrap;
    /* text-wrap: wrap; */
    /* width: 100%; */
}
.about-page-skills > h3{
    margin-bottom: 20px;
}

.about-page-skills>ul{
    word-wrap: wrap;
}
.about-page-skills>ul>li {
    font-size: 16px;
}

.about-page-skill-html {
    cursor: pointer;
    cursor: url(../images/skills/html.svg), auto;

}

.about-page-skill-css {
    cursor: url(../images/skills/css.svg), auto;
}

.about-page-skill-js {
    cursor: url(../images/skills/js.svg), auto;

}

.about-page-skill-reactjs {
    cursor: url(../images/skills/reactjs.svg), auto;

}

.about-page-skill-git {
    cursor: url(../images/skills/git.svg), auto;

}

.about-page-skill-github {
    cursor: url(../images/skills/github.svg), auto;

}

.about-page-skill-java {
    cursor: url(../images/skills/java.svg), auto;

}

.about-page-skill-c {
    cursor: url(../images/skills/c-sm.svg), auto;

}

.about-page-skill-cpp {
    cursor: url(../images/skills/cpp-sm.svg), auto;

}

.about-page-skill-python {
    cursor: url(../images/skills/python.svg), auto;

}

/* ----- about-page - qualification section ----- */
.qualification {
    margin-top: 100px;
}
.qualification > h3{
    margin-bottom: 20px;
}
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.qualification__button {
    color: #696969;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: #fff;

}

/* .qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
} */

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.qualification__title{
    font-size: 20px;
    font-weight: 400;
  }
.qualification__subtitle {
    display: block;
    color:#696969;
    font-size: 15px;
    font-weight: 300;
}

.qualification__edu_rightalign{
    text-align: right;
}

.qualification__calendar {
    font-size: 8px;
    color:#696969;
    margin-bottom: 10px;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #fff;
    transform: translate(6px, -7px);

}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}





@media (max-width:1000px) {
    .about-page{
        /* height: 150vh; */
    }
}

@media (max-width:768px) {
    .about-page-hero-aline{
        margin: 0 15px;
        padding-right: 0 !important;
    }
    .abt-image {
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
        padding-right: 0 !important;
    }

    .about-page{
        width: 100%;
        /* height: 230vh; */
        /* flex-direction: column; */
        flex-direction: column-reverse;
        justify-content: flex-start;
        overflow: auto;
    }

    .about-page > .profile-img-container{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .profile-photo{
        /* padding-top: 100px; */
    }
    .about-page-intro:first-child{
        margin-top: 40px;
    }
    .about-page-skills .tech-stack{
        padding: 0;
    }

    .qualification .container{
        padding: 0;
    }
}

/* --------------------------- contact form ---------------------------- */
#contact-form {
    margin: 5% 1.4%;

}

#contact-form ul {
    list-style: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

#contact-form li {
    padding: 10px 10px 10px 0;
}

#contact-form li:last-of-type {
    border-bottom: none;
}

#contact-form label {
    display: block;
    font-size: .8em;
    color: #999;
    padding-left: 5px;
    margin-top: 10px;

}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-size: 14px;
    /* font-weight: ; */

}

input:focus {
    outline: none;
    border: none;
    

}

textarea:focus {
    outline: none;
    border: none;
    
}

.textarea {
    border-bottom: 1px solid #dfdfdf;
}

.send {
    margin-left: 50px;
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: 2px;

}

.send:hover {
    background: #dfdfdf;
    color: #101010;
}

@media(max-width:768px) {
    #contact-form {
        /* margin: 5% -8%; */
        /* margin-left: 30px; */
        width: 85%;
    }
    .hero-content > .row > .hero-aline{
        margin: 0 15px !important;

    }
    .contact-form-section ul{
        padding-left: 0;
    }
}

/* --------------------------- Thankyou page ---------------------------- */
.thankyou-content{
    width: 100%;
    text-align: center;
    align-items: center;
}

@media(max-width:768px){
    .thankyou-content{
        height: 50vh;
    }
}


/* --------------------------- project page ---------------------------- */
.project-link-icon {
    font-size: 20px;
    margin-top: -9px;
    cursor: pointer;
}

.project-link-icon:last-child {
    font-size: 25px;
}

.project-hero-aline {
    padding-left: 15px;
    padding-right: 80px;
    margin-top: 20px;
}

.image {
    height: 720px;

}

.project-desktop-view {
    background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%;


}

.project-mobile-view {
    background: url("../images/prj\ mob\ view.jpg") no-repeat;
    background-size: cover;
}

.img-container {
    width: 90%;
    margin-left: 82px;
}

.prev,
.next p {
    color: grey;
    cursor: progress;

}

.prev p {
    text-align: left;
}

.next p {
    text-align: right;
}

.prev p:hover {
    color: #fff;
}

.next p:hover {
    color: #fff;
}