<%- include("../partials/header"); -%>

  <br><br>

  <!-- hero image section -starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 about abt-image wow fadeInUp hero-aline " data-wow-delay="1s">
        <img class="img-fluid img-responsive" src="/images/abt-bg.png" alt="">
      </div>
    </div>
  </div>
  <!-- hero image section -ends -->
  <br>
  <!-- hero section -starts -->
  <div class="container-fluid ">
    <div class="hero-content ">
      <br><br>
      
      <div class="row">
        <div class="col-lg-11 about-page-hero-aline">
          <h3 class="about-page-subheadings wow fadeInUp" data-wow-delay="0.75s">about me.</h3><br>
          <div class="about-page">
            <div class="about-page-intro wow fadeInUp" data-wow-delay="0.4s">
              <!-- <h6 >Hello! I'm Mahendra Dewangan, a student developer from India currently pursuing Bachlor of Technology in Computer Science & Engineering (2024). I'm a junior Web - Developer & Designer. I can design and develop beautiful web pages. I love to explore the field of Technology. One day, I hope to bring a positive impact on the lives of millions of people through my code:)</h1> -->
                <!-- <p>Hello! I'm Mahendra Dewangan, a student developer from India currently pursuing Bachlor of Technology in Computer Science & Engineering (2024). I'm a junior Web - Developer & Designer. I can design and develop beautiful web pages. I love to explore the field of Technology. One day, I hope to bring a positive impact on the lives of millions of people through my code:) <a href="/about" class="link-hover-effect"> ...know more</a></p> -->
                <p class="wow fadeInUp" data-wow-delay="1.2s">Hello 👋! my name is Mahendra Dewangan, a student developer from
                  India currently pursuing Bachelors of Technology in Computer Science & Engineering (2024). I'm a junior Web
                  - Developer & Designer. I can design and develop beautiful web pages. I love to explore the field of
                  Technology. <b>I like being simple and replicating this through my code via minimal design</b>. One day, I
                  hope to bring a positive impact on the lives of millions of people through my code:)</p>
                <p class="wow fadeInUp" data-wow-delay="1.2s">Living with passion is what I strictly adhere to. “Always do
                  what you love” how much ever hackneyed this sounds it holds absolutely true. That's why I travel a lot. Not
                  for the sole reason of “loving” to travel but it helps me to get rid of the world and escape into a
                  different dimension of my own. As I am a travel freak I love freezing the moments I relish. The art of
                  capturing photos is something I am always fascinated by.</p>
                <p class="wow fadeInUp" data-wow-delay="1.2s">I am a continuous learner. Learning for me equates to exploring
                  new ideas and growing as an individual. I just cannot imagine my life devoid of designing. I freely express
                  my creativity and imagination by designing and code.</p>
                
                <div class="resume wow fadeInUp" data-wow-delay="1.2s">
                  <a href="resume/Mahendra Dewangan resume.pdf" download="Mahendra Dewangan Resume" class="resume-btn resume-download-btn"> resume </a>
                </div>
            </div>
            
            <div class="profile-img-container">
              <div class="profile-img">
                  <div class="img-box">
                      <div class="img-wrapper wow fadeInUp" data-wow-delay="0.8s">
                        <img class="profile-photo" src="images/profile photo3.jpg" alt="" class="wow fadeInUp dp-img" data-wow-delay="0.8s">
                        
                      </div>
                      <!-- <div class="border-box wow fadeInUp" data-wow-delay="2.7s"></div> -->
                  </div>
                  <div id="profile-photo-border" class="border-box wow fadeInUp" data-wow-delay="1.2s"></div>
              </div>
            </div>
            
          </div>

          <div class="about-page-skills">
            <h3 class="about-page-subheadings wow fadeInUp" data-wow-delay="0.75s">skills.</h3><br>
            <ul class="tech-stack wow fadeInUp" data-wow-delay="1s">
              <li class="about-page-skill-html">HTML</li>
              <li class="about-page-skill-css">CSS</li>
              <li class="about-page-skill-js">Javascript</li>
              <li class="about-page-skill-reactjs">Reactjs</li>
              <li class="about-page-skill-git">git</li>
              <li class="about-page-skill-github">github</li>
              <li class="about-page-skill-java">java</li>
              <li class="about-page-skill-c">C</li>
              <li class="about-page-skill-cpp">C++</li>
              <li class="about-page-skill-python">python</li>
            </ul>
          </div>

          <div class="qualification">
            <h3 class="about-page-subheadings wow fadeInUp" data-wow-delay="0.75s">qualification.</h3><br>
            
                <!-- <span class="section__subtitle">My presonal journey</span> -->
                <div class="qualification__container container">
                    <div class="qualification__tabs wow fadeInUp" data-wow-delay="1s">
                        <div class="qualification__button button--flex qualification__active" data-target='#education'>
                            <!-- <i class="uil uil-graduation-cap qualification__icon"></i> -->
                            Education
                        </div>
                        <div class="qualification__button button--flex" data-target='#work'>
                            <!-- <i class="uil uil-briefcase-alt qualification__icon"></i> -->
                            Position of Responsibility
                        </div>
    
                    </div>
                    <div class="qualification__sections wow fadeInUp" data-wow-delay="1.2s">
                        <!-- qualification content 1-->
                        <div class="qualification__content qualification__active" data-content id="education">
                            <!-- qualification data 1 -->
                            <div class="qualification__data">
                                <div class="qualification__edu_rightalign">
                                    <h3 class="qualification__title">Computer Science & Engineering</h3>
                                    <span class="qualification__subtitle">Vishwavidyalaya Engineering College, Ambikapur</span>
                                    <div class="qualification__calender">
                                      <!-- <i class="fa-regular fa-calendar-days" style="color: #696969;"></i> -->
                                      <p>2020-2024</p>
                                    </div>
                                </div>
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                            </div>
                            <!-- qualification data 2 -->
                            <div class="qualification__data">
                                <div class="qualification__edu_rightalign">
                                    <h3 class="qualification__title">Higher Secondary School</h3>
                                    <span class="qualification__subtitle">DAV public school, jenjara</span>
                                    <div class="qualification__calender">
                                      <!-- <i class="uil uil-calendar-alt"></i> -->
                                      <p>71.8%</p>
                                    </div>
                                </div>
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                            </div>
                            <!-- qualification data 3 -->
                            <div class="qualification__data">
                                <div class="qualification__edu_rightalign">
                                    <h3 class="qualification__title">Secondary School</h3>
                                    <span class="qualification__subtitle">DAV public school, jenjara</span>
                                    <div class="qualification__calender">
                                      <!-- <i class="uil uil-calendar-alt"></i> -->
                                      <p>71.8%</p>
                                    </div>
                                </div>
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                            </div>
                            
                            
    
                        </div>
                        <!-- qualification content 2-->
                        <div class="qualification__content" data-content id="work">
                            <!-- qualification data 1 -->
                            <div class="qualification__data">
                                <div></div>
    
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                                <div>
                                    <h3 class="qualification__title">Building ByteCodeComm</h3>
                                    <span class="qualification__subtitle">Developers community for students</span>
                                    <div class="qualification__calender">
                                      <!-- <i class="fa-regular fa-calendar-days" style="color: #696969;"></i> -->
                                      <p>2023</p>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- qualification data 2 -->
                            <div class="qualification__data">
                                <div></div>
    
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                                <div>
                                    <h3 class="qualification__title">GSSoC'23 contributer</h3>
                                    <span class="qualification__subtitle">Girlscript Summer of Code</span>
                                    <div class="qualification__calender">
                                        <i class="uil uil-calendar-alt"></i>
                                        <p>2023</p>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- qualification data 3 -->
                            <div class="qualification__data">
                                <div></div>
    
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                                <div>
                                    <h3 class="qualification__title">SSOC'23 contributer</h3>
                                    <span class="qualification__subtitle">Social Summer of Code</span>
                                    <div class="qualification__calender">
                                        <i class="uil uil-calendar-alt"></i>
                                        <p>2023</p>
                                    </div>
                                </div>
                                
                            </div>
                           
    
                        </div>
    
                    </div>
                </div>
          </div>
          <!-- <p class="wow fadeInUp" data-wow-delay="1.2s">Hello 👋! my name is Mahendra Dewangan, a student developer from
            India currently pursuing Bachelors of Technology in Computer Science & Engineering (2024). I'm a junior Web
            - Developer & Designer. I can design and develop beautiful web pages. I love to explore the field of
            Technology. <b>I like being simple and replicating this through my code via minimal design</b>. One day, I
            hope to bring a positive impact on the lives of millions of people through my code:)</p>
          <p class="wow fadeInUp" data-wow-delay="1.2s">Living with passion is what I strictly adhere to. “Always do
            what you love” how much ever hackneyed this sounds it holds absolutely true. That's why I travel a lot. Not
            for the sole reason of “loving” to travel but it helps me to get rid of the world and escape into a
            different dimension of my own. As I am a travel freak I love freezing the moments I relish. The art of
            capturing photos is something I am always fascinated by.</p>
          <p class="wow fadeInUp" data-wow-delay="1.2s">I am a continuous learner. Learning for me equates to exploring
            new ideas and growing as an individual. I just cannot imagine my life devoid of designing. I freely express
            my creativity and imagination by designing and code.</p> -->
          <br /> <br />
          <!-- <div class="resume wow fadeInUp" data-wow-delay="1.2s">
            <a href="resume/Mahendra Dewangan resume.pdf" download="Mahendra Dewangan Resume" class="resume-btn resume-download-btn"> resume </a>
          </div> -->
        </div>
        
      </div>

    </div>
  </div>
  <!-- hero section -ends -->

  <div class="whitespace"></div>
  <div class="whitespace"></div>


  <script src="js/skill-script.js" type="text/javascript"></script>

  <%- include("../partials/footer"); -%>