<%- include("../partials/header"); -%>

      <br><br>

      <!-- hero image section -starts -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 about abt-image wow fadeInUp hero-aline " data-wow-delay="1s"></div>
        </div>
      </div>
      <!-- hero image section -ends -->
      <br>
      <!-- hero section -starts -->
      <div class="container-fluid ">
        <div class="hero-content ">
            <br><br>
            <div class="row">
                <div class="col-lg-11 hero-aline">
                    <h3 class="wow fadeInUp" data-wow-delay="1.2s">about me.</h3><br>
                    <p class="wow fadeInUp"  data-wow-delay="1.5s">Hello 👋! my name is Mahendra Dewangan, a student developer from India currently pursuing Bachelors of Technology in Computer Science & Engineering (2024). I'm a junior Web - Developer & Designer. I can design and develop beautiful web pages. I love to explore the field of Technology. <b>I like being simple and replicating this through my code via minimal design</b>. One day, I hope to bring a positive impact on the lives of millions of people through my code:)</p>
                    <p class="wow fadeInUp"  data-wow-delay="1.5s">Living with passion is what I strictly adhere to. “Always do what you love” how much ever hackneyed this sounds it holds absolutely true. That's why I travel a lot. Not for the sole reason of “loving” to travel but it helps me to get rid of the world and escape into a different dimension of my own. As I am a travel freak I love freezing the moments I relish. The art of capturing photos is something I am always fascinated by.</p>
                    <p class="wow fadeInUp" data-wow-delay="1.5s">I am a continuous learner. Learning for me equates to exploring new ideas and growing as an individual. I just cannot imagine my life devoid of designing. I freely express my creativity and imagination by designing and code.</p>

                </div>
            </div>
        </div>
      </div>
      <!-- hero section -ends -->

      <div class="whitespace"></div>
      <div class="whitespace"></div>



      <%- include("../partials/footer"); -%>
