<!-- projects section -starts -->
<div class="container-fluid">
    <br /><br /><br />

    <h6>Selected projects</h6>

    <div class="vertical"></div>
    <br />

    <div class="whitespace"></div>
    <div class="whitespace"></div>

   <div class="project-section">
    <ul class="featured-projects">
      <li class="project-container">
        <div class="project-content wow fadeInUp" data-wow-delay="0.4s">
          <div>
            <h3 class="project-title">
              <a href="#">Trends 51</a>
            </h3>
            <div class="project-description">
              <p>Lorem ipsum dolor sit, <a href="#" class="link-hover-effect"> this is link</a> consectetur adipisicing elit. Animi tempore aliquid voluptas, accusamus esse nam molestiae ratione autem. Enim, maiores.</p>
            </div>
            <ul class="project-tech-list">
              <li>html</li>
              <li>css</li>
              <li>js</li>
              <li>node</li>
            </ul>
            <div class="project-links">
              <a class="project-external-link "><span class="project-link-icon">&#8599;</span></a>
              <a class="project-github-link ml-2"><i class="fa project-link-icon">&#xf09b;</i></a>
            </div>
          </div>
        </div>
        <div class="project-image wow fadeInUp" data-wow-delay="0.3s">
         <a href="project"> <img src="images/project 1 Trends 51/Trends 51.png" alt=""></a>
        </div>
      </li>
      <li class="project-container even-num-featured-project">
        <div class="project-content wow fadeInUp" data-wow-delay="0.4s">
          <div>
            <h3 class="project-title">
              <a href="#">Venture Nix</a>
            </h3>
            <div class="project-description">
              <p>Lorem ipsum dolor sit, <a href="#" class="link-hover-effect"> this is link</a> consectetur adipisicing elit. Animi tempore aliquid voluptas, accusamus esse nam molestiae ratione autem. Enim, maiores.</p>
            </div>
            <ul class="project-tech-list">
              <li>html</li>
              <li>css</li>
              <li>js</li>
              <li>node</li>
            </ul>
            <div class="project-links">
              <a class="project-external-link "><span class="project-link-icon">&#8599;</span></a>
              <a class="project-github-link ml-2"><i class="fa project-link-icon">&#xf09b;</i></a>
            </div>
          </div>
        </div>
        <div class="project-image wow fadeInUp" data-wow-delay="0.3s">
         <a href="project"> <img src="images/project 2 Venture nix/Venture nix -Home.png" alt=""></a>
        </div>
      </li>
      <li class="project-container">
        <div class="project-content wow fadeInUp" data-wow-delay="0.4s">
          <div>
            <h3 class="project-title">
              <a href="#">Project No. 3.</a>
            </h3>
            <div class="project-description">
              <p>Lorem ipsum dolor sit, <a href="#" class="link-hover-effect"> this is link</a> consectetur adipisicing elit. Animi tempore aliquid voluptas, accusamus esse nam molestiae ratione autem. Enim, maiores.</p>
            </div>
            <ul class="project-tech-list">
              <li>html</li>
              <li>css</li>
              <li>js</li>
              <li>node</li>
            </ul>
            <div class="project-links">
              <a class="project-external-link "><span class="project-link-icon">&#8599;</span></a>
              <a class="project-github-link ml-2"><i class="fa project-link-icon">&#xf09b;</i></a>
            </div>
          </div>
        </div>
        <div class="project-image wow fadeInUp" data-wow-delay="0.3s">
         <a href="project"> <img src="images/project 1 Trends 51/desktop view.png" alt=""></a>
        </div>
      </li>
    </ul>
   </div>

    <div class="whitespace"></div>
  </div> 

  <!-- projects section -ends -->
