<%- include("../partials/header"); -%>
      <br><br>

      <br>
      <!-- hero section -starts -->
        <div class="container-fluid">
            <div class="hero-content">
                <br><br>
                <div class="row">
                    <div class="col-lg-11 hero-aline">
                        <br>
                        <h1 class="wow fadeInUp" data-wow-delay="1s">project name.</h1>
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="p wow fadeInUp" data-wow-delay="1.2s">service :</p>
                                <h6 class="wow fadeInUp" data-wow-delay="1.3s">web development</h6>
                            </div>
                            <div class="col-lg-3">
                                <p class="p wow fadeInUp" data-wow-delay="1.4s">started :</p>
                                <h6 class="wow fadeInUp" data-wow-delay="1.5s">5 Mar 2023</h6>
                            </div>
                            <div class="col-lg-3">
                                <p class="p wow fadeInUp" data-wow-delay="1.6s">completed :</p>
                                <h6 class="wow fadeInUp" data-wow-delay="1.7s">15 Mar 2023</h6>
                            </div>
                            <div class="col-lg-3">
                                <p class="p wow fadeInUp" data-wow-delay="1.8s">links :</p>
                                <h6 class="wow fadeInUp project-links" data-wow-delay="1.7s">
                                    <a class="project-external-link "><span class="project-link-icon">&#8599;</span></a>
                                    <a class="project-github-link ml-2"><i class="fa project-link-icon">&#xf09b;</i></a>
                                </h6>
                            </div>
                            <br><br>
                            
                            <p class="wow fadeInUp project-hero-aline" data-wow-delay="1.8s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias sint fuga libero ab delectus, natus nam beatae tempora doloribus numquam velit commodi, tenetur quidem iste, aliquid aspernatur architecto est. Dolores maxime eius magni ducimus? Repellat eius doloremque vel a quis omnis?</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!-- hero section -ends -->




      <!-- project image -starts -->
        <div class="project-img">
            <div class="container-fluid ">
                <br><br>
                <div class="img-container">
                    <div class="row ">
                        <div class="col-md-8 ">
                            <div class="project image project-desktop-view wow fadeInUp   " data-wow-delay="0.8s"></div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="project image project-mobile-view wow fadeInUp" data-wow-delay="1s"></div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
     
      <!-- project image -ends -->
      
        <br><br>
     
      <!-- project nav -starts -->
      <div class="project-nav hero-aline">
        <div class="container-fluid">
              <div class="row ">
                
                    <div class="col-lg-6 prev">
                        <p>&larr; previous</p>
                  </div>
                  <div class="col-lg-6 next">
                        <p>next &rarr;</p>
                  </div>
                </div>
                    
              
        </div>
     </div>

      <!-- project nav -ends -->



      <%- include("../partials/footer"); -%>
