<%- include("../partials/header"); -%>

      <br><br>

      <br>
      <!-- hero section -starts -->
      <div class="container-fluid ">
        <div class="hero-content">
          <br /><br />

          <div class="thankyou-content">
            <h2 class="thankyou-heading">Thank you</h2>
            <p class="thankyou-note">Your form is successfully submitted. We will contact you shortly..</p>
          </div>
          
          
        </div>
      </div>
      <!-- hero section -ends -->



      <div class="whitespace"></div>
      <div class="whitespace"></div>


<%- include("../partials/footer"); -%>
