<%- include("../partials/header"); -%>

      <br><br>

      <br>
      <!-- hero section -starts -->
      <div class="container-fluid ">
        <div class="hero-content">
          <br /><br />

          <div class="thankyou-content">
            <h2 class="thankyou-heading">Thank you</h2>
            <p class="thankyou-note">Your form is successfully submitted. We will contact you shortly..</p>
          </div>
          
          
        </div>
      </div>
      <!-- hero section -ends -->

      <!-- <div class="whitespace"></div> -->

      <!-- form section -starts -->
      <!-- <div class="container-fluid">
        <div class="fow">
            <div class="col-lg-8">
                <form name="contact-form" id="contact-form" method="post" action="https://formsubmit.co/mahendradewangan2002@gmail.com" >
                  <input type="hidden" name="_subject" value="New mail from personal website">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay="1.4s">
                            <label for="contact-name">Name :</label>
                            <div class="textarea ">
                                <input type="text" name="contact-name" id="contact-name" value="" required autocomplete="off">
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.6s">
                            <label for="contact-email">Email :</label>
                            <div class="textarea ">
                                <input type="email" name="contact-email" id="contact-email" value="" required autocomplete="off">
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.6s">
                            <label for="contact-msg">Message :</label>
                            <div class="textarea ">
                                <textarea type="text" name="contact-msg" id="contact-msg" rows="6" value="" required autocomplete="off"></textarea>
                            </div>
                        </li>
                    </ul>
                    <button type="submit" name="contact-submit" id="contact-submit" class="send wow fadeInUp">Send Message</button>
                </form>
            </div>
        </div>
      </div> -->
      <!-- form section -starts -->

      <div class="whitespace"></div>
      <div class="whitespace"></div>


<%- include("../partials/footer"); -%>
