<%- include("../partials/header"); -%>
      <div class="whitespace"></div>

      <!-- hero section -starts -->
      <div class="container-fluid ">
        <div class="hero-content">
          <br /><br />

          <div class="row">
            <div class="col-lg-8 hero-aline">
              <h3 class="wow fadeInUp" data-wow-delay="1s">work.</h3>
              <br />
              <p class="wow fadeInUp" data-wow-delay="1.2s">
                A small gallery of recent projects I've worked on. Work I've done that resides out there, somewhere in the vast virtual space of the Internet.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- hero section -ends -->

      <!-- projects section -starts -->
      <%- include("../pages/projects"); -%>

      <!-- projects section -ends -->
      <%- include("../partials/footer"); -%>